In [1]:
import pandas as pd

In [2]:
df_data = pd.read_pickle('../user_data/data/rank_feature.pkl')
df_history = pd.read_pickle('../user_data/data/click.pkl')

In [3]:
df_data['user_phase'] = df_data['user_id'].astype(
    'str') + '_' + df_data['phase'].astype('str')
df_history['user_phase'] = df_history['user_id'].astype(
    'str') + '_' + df_history['phase'].astype('str')

In [6]:
df_data.head()

,user_id,phase,query_time,item_id,label,txt_vec10_pca0,txt_vec10_pca1,txt_vec10_pca2,txt_vec10_pca3,txt_vec10_pca4,...,user_click_item_w2w_sim_sum_2,user_item_txt_sim,user_click_item_txt_sim_sum,user_click_item_txt_sim_max,user_last_click_item_txt_sim,user_click_item_txt_sim_rolling2_sum,user_click_item_txt_sim_rolling2_mean,user_click_item_txt_sim_rolling3_mean,user_item_img_sim,user_phase
0,7,0,0.98394,591,0.0,NaN,NaN,NaN,NaN,NaN,...,1.739258,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,7_0
1,7,0,0.98394,20201,0.0,7.316406,2.445312,-2.457031,-0.265137,1.541992,...,1.750000,0.470703,0.319336,0.465332,0.0,0.0,0.0,0.465332,-0.074768,7_0
2,7,0,0.98394,7709,0.0,NaN,NaN,NaN,NaN,NaN,...,1.706055,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,7_0
3,7,0,0.98394,4340,0.0,NaN,NaN,NaN,NaN,NaN,...,1.163086,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,7_0
4,7,0,0.98394,9338,0.0,-0.939453,4.632812,-4.437500,-0.889160,-1.173828,...,1.778320,0.570312,0.412598,0.546387,0.0,0.0,0.0,0.459717,-0.096680,7_0

In [7]:
print(df_history.shape)
df_history = df_history[df_history['user_phase'].isin(
    df_data['user_phase'].values)]
print(df_history.shape)

(2735694, 5)
(81938, 5)

In [8]:
df_history.head()

      user_id  item_id      time  phase user_phase
607         7    19110  0.983779      0        7_0
608         7    24258  0.983780      0        7_0
609         7    39291  0.983846      0        7_0
610         7     6731  0.983847      0        7_0
1040       11    88058  0.983740      0       11_0

In [9]:
df_history.sort_values(['user_id', 'time'], inplace=True)

In [13]:
df_temp = df_history.groupby(['user_phase'])['item_id'].agg(history=list).reset_index()

In [14]:
df_temp.head()

  user_phase                                            history
0    10005_0  [93726, 8048, 66055, 68189, 76335, 46620, 3978...
1    10017_0  [101041, 104831, 111905, 61269, 99145, 64219, ...
2     1001_0                        [76967, 2827, 11599, 16026]
3     1002_0  [40375, 10456, 98374, 8906, 49235, 67912, 2880...
4    10032_0     [109286, 102996, 105116, 55841, 111687, 75986]

In [15]:
df_data = df_data.merge(df_temp, how='left')

In [17]:
del df_data['user_phase']

In [18]:
df_data.to_pickle('../user_data/data/nn_input.pkl')

In [19]:
df_data.shape

(2496846, 91)

In [20]:
df_data.head()

,user_id,phase,query_time,item_id,label,txt_vec10_pca0,txt_vec10_pca1,txt_vec10_pca2,txt_vec10_pca3,txt_vec10_pca4,...,user_click_item_w2w_sim_sum_2,user_item_txt_sim,user_click_item_txt_sim_sum,user_click_item_txt_sim_max,user_last_click_item_txt_sim,user_click_item_txt_sim_rolling2_sum,user_click_item_txt_sim_rolling2_mean,user_click_item_txt_sim_rolling3_mean,user_item_img_sim,history
0,7,0,0.98394,591,0.0,NaN,NaN,NaN,NaN,NaN,...,1.739258,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,"[19110, 24258, 39291, 6731]"
1,7,0,0.98394,20201,0.0,7.316406,2.445312,-2.457031,-0.265137,1.541992,...,1.750000,0.470703,0.319336,0.465332,0.0,0.0,0.0,0.465332,-0.074768,"[19110, 24258, 39291, 6731]"
2,7,0,0.98394,7709,0.0,NaN,NaN,NaN,NaN,NaN,...,1.706055,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,"[19110, 24258, 39291, 6731]"
3,7,0,0.98394,4340,0.0,NaN,NaN,NaN,NaN,NaN,...,1.163086,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,"[19110, 24258, 39291, 6731]"
4,7,0,0.98394,9338,0.0,-0.939453,4.632812,-4.437500,-0.889160,-1.173828,...,1.778320,0.570312,0.412598,0.546387,0.0,0.0,0.0,0.459717,-0.096680,"[19110, 24258, 39291, 6731]"